@charset "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*-----------------------------------------------------------------------*/

nav {
    background-color: rgb(255, 81, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav a {
    padding-left: 30px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

nav .form-control {
    flex: 2;
    max-width: 500px;
    margin: 0 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.imgLogo {
    width: 20%;
}


.nav-list {
    background-color: rgb(255, 81, 0);
    display: flex;
    justify-content: center;
}

.nav-list > ul > li {
    border-top: 2px solid rgba(120, 51, 51, 0.831);
}

.nav-list > ul > li > a {
    color: white;
}

.componenteImg {
    width: 60%;
}

.card {
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.card-body {
    background-color: #f8f9fa;
    border-radius: 15px;
}

.titulo {
    font-size: 35pt;
    margin-bottom: 20px;
}

.btn {
    margin: 5px;
    border-radius: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .componenteImg {
        width: 80%;
    }

    .titulo {
        font-size: 30pt;
    }
}

.btn-agregar {
    background-color: #2453ed;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 18px;
}

.btn-agregar:hover {
    background-color: #061059;
}