
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo producto</title>
    <link rel="stylesheet" href="/css/reservas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div th:replace="comun/nav.html"></div>

<!----------------------------------------------------------------------->
<div class="container mt-5">
    <h1 class="text-center">Administración de Reservas</h1>
    <hr>
    <h2 class="text-center">Nueva Reserva</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/reservas/guardarReserva}" th:object="${reserva}" method="post">
                <div class="form-floating mb-3">
                    <select th:field="*{clientes}" class="form-control mb-4 col-4">
                        <option th:each="clientes : ${listarClientes}" th:value="${clientes.idCliente}" th:text="${clientes.nombresCliente}"></option>
                    </select>
                    <label>Clientes</label>
                </div>
                <div class="form-floating mb-3">
                    <select th:field="*{salas}" class="form-control mb-4 col-4">
                        <option th:each="salas : ${listarSalas}" th:value="${salas.idSala}" th:text="${salas.codSala}"></option>
                    </select>
                    <label>Salas</label>
                </div>
                <div class="form-floating mb-3">
                    <select th:field="*{peliculas}" class="form-control mb-4 col-4">
                        <option th:each="peliculas : ${listarPeliculas}" th:value="${peliculas.idPelicula}" th:text="${peliculas.nombrePelicula}"></option>
                    </select>
                    <label>Peliculas</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" th:field="*{fechaReserva}" class="form-control" id="FECHA_RESERVA" placeholder="Fecha Reserva" required>
                    <label for="FECHA_RESERVA">Fecha Reserva</label>
                </div>
                <hr>
                <button type="submit" class="btn btn-success w-100"><i class="fas fa-save"></i> Guardar</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
